extends jade_templates/layout/default

block container
  .container
    h1 Mark date
    h2 このサイトはデートを作り、それを他社が採点するデートプラン作成サイトです。
      input(type="button",value="作る",onclick="make1.html")
      input(type="button",value="採点する",onclick="grade1.html")

