doctype 5

html(lang='ja')
  head
    title mark date
    link(rel="stylesheet",href="css/index.css",type="text/css")
    meta(charset="utf-8")
  body
    h1 Mark date
    h2 このサイトはデートを作り、それを他社が採点するデートプラン作成サイトです。
      input(type="button",value="作る")
      input(type="button",value="採点する")

