extends jade_templates/layout/default

block container
  .container
    h1 Mark date
    h2 このサイトはデートを作り、
      | それを他者が採点するデートプラン作成サイトです。
    a(href="make_dp/make1.html")
      作る
    br
    a(href="plans.html")
      見る

